<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Inscription réussie</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container mx-auto px-6 py-3 ">
  <div class="container mx-auto px-6 py-3 justify-center flex items-center h-[300px]">
    <div>
      <h1 class="text-[200%] mb-2 font-bold tracking-tight text-gray-900 dark:text-black">Félicitations, vous avez créé votre compte avec succès</h1>

      <div class="border w-fit rounded-xl  shadow-sm mt-5">
        <button onclick="login()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Connexion</button>
      </div>
    </div>
    </div>

</div>
  <script>
    const login =()=> {
      window.location = "[[@{/login}]]"
    }

  </script>
</body>
</html>